@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" type="text/css" />
    <script src="~/scripts/jquery-1.10.2.js"></script>
    <script src="~/scripts/jquery.validate.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.js"></script>

    <title></title>
</head>
<body>
    <div class="container">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }

        @{
            var userName = HttpContext.Current.User.Identity.Name;
            if (userName!="")
            {
                <h3>Online Shopping Store</h3>
                <span class="pull-right">
                    @Html.ActionLink(HttpContext.Current.User.Identity.Name + " - Logout", "Logout", "Account", new { @class = "btn btn-info" })

                </span>

            }
        }
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3>Dashboard</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h4>Edit Pages</h4>
                        <a href="pages" class="btn btn-block">Edit pages</a>
                        <h3>Product</h3>
                        <a href="product" class="btn btn-block">Edit Products</a>

                        <h4>Transactions</h4>

                    </div>
                    <div class="col-sm-9">@RenderBody()</div>
                </div>
                
            </div>
            <div class="panel-footer">
               &copy; Bridal Boutique
            </div>
        </div>

      
    </div>
</body>
</html>