@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" type="text/css" />
    <script src="~/scripts/jquery-1.10.2.js"></script>
    <script src="~/scripts/jquery.validate.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.js"></script>

    <title></title>
</head>
<body>
    <div class="container">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }

        @{
            var userName = HttpContext.Current.User.Identity.Name;
            if (userName!="")
            {
                <h3>Online Shopping Store</h3>
                <span class="pull-right">
                    @Html.ActionLink(HttpContext.Current.User.Identity.Name + " - Logout", "Logout", "Account", new { @class = "btn btn-info" })

                </span>

            }
        }

        @RenderBody()
    </div>
</body>
</html>